@page
@model LoginModel

<<<<<<< HEAD

@{
	ViewData["Title"] = "Log in";
}

@* <h1>@ViewData["Title"]</h1>
<div class="auth-container">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </p>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>

                </div>
            </form>
        </section>
    </div>
</div> *@

=======

@{
	ViewData["Title"] = "Log in";
}
>>>>>>> frontend
<link rel="stylesheet" href="~/css/auth.css" />

<div class="logo-in-auth">
    <a class="logo-in-auth" asp-area="" asp-controller="Home" asp-action="Index"><img src="/images/ReelTalkLogoMobile.png" alt="ReelTalk logo"></a>
</div>
<div class="auth-container">
	<div class="auth-header">
		<h1>Welcome back</h1>
		<p>Sign in to rate and review your favorite shows</p>
	</div>
	<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

	<form id="account" method="post">
		<div class="form-group">
			<label asp-for="Input.Email" class="form-label">Email</label>
			<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
			<span asp-validation-for="Input.Email" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="Input.Password" class="form-label">Password</label>
			<input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
			<span asp-validation-for="Input.Password" class="text-danger"></span>
		</div>

		<p>
			<a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
		</p>
		<div>
			<button id="login-submit" type="submit" class="auth-button">Log in</button>
		</div>
	</form>
	<div class="switch-auth-page">
		<p>
			Don't have an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign Up</a>
		</p>
	</div>
<<<<<<< HEAD
=======
	<div class="d-flex justify-content-center">
	<a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Go home</a>
	</div>
>>>>>>> frontend
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
